@import url('demo.css');

@font-face {
  font-family: 'fontawesome-selected';
  src: url("../font/fontawesome-selected.eot");
  src: url("../font/fontawesome-selected.eot?#iefix") format('embedded-opentype'), url("../font/fontawesome-selected.woff") format('woff'), url("../font/fontawesome-selected.ttf") format('truetype'), url("../font/fontawesome-selected.svg#fontawesome-selected") format('svg');
  font-weight: normal;
  font-style: normal;
}

.fc-calendar-container {
	position: relative;
	height: 400px;
	width: 400px;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

/* fc-head - below -This style width  has been put in to relation with .fc-calendar .fc-row  to increase 
the width of the header Day of the Week */

.fc-head {
width: 120%;
	}

/*fc-head.....above */

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: #ccc;
	color: #000;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: -ms-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid #fff; /*this is the grey box round calendar */
}

/* I have altered width to 120% to fit browser across width of screen *still gap in ie9 - any 
problem in cross browser testing suggest change back to 100%*/

.fc-calendar .fc-row {
	width: 120%;
	border-bottom: 1px solid #fff; /* grey border around calendar numbers - lines */
}

/*BELOW - The important part of making the calendar grid fluid is the styling 
of the row and the div (or the “cell”):*/

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: -ms-calc(100%/6);
	height: calc(100%/6);
}


/* I have altered the height and width below to achieve a consistency with browsers */

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 80%;
	width:  16.28%; /* 100% / 7 */
	width: -moz-calc(98%/7);
	width: -webkit-calc(98%/7);
	width: -ms-calc(82%/7);
	width: calc(82%/7);
	position: relative;
}

/*ABOVE - The important part of making the calendar grid fluid is the 
styling of the row and the div (or the “cell”):

	So, we define different heights depending on the amount of rows we’ll have, 
	using calc() where we know that the result is not a round number. 
	For the inner div we will set the width to be 100 divided by 7.

*/

/* IE 9 is rounding up the calc it seems */
.ie9 .fc-calendar .fc-row > div,
.ie9 .fc-calendar .fc-head > div {
	width:  10.2%;
}



.fc-calendar .fc-row > div {
	border-right: 1px solid #fff; /*grey now white border frame around days of calendar*/
	border-left: 1px solid #fff; /*grey now white border frame around days of calendar*/
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div > span.fc-date {
	position: absolute;
	width: 30px;
	height: 20px;
	font-size: 20px;
	line-height: 20px;
	font-weight: 700;
	color: #ddd;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	bottom: 5px;
	right: 5px;
	text-align: right;
}

.fc-calendar .fc-row > div > span.fc-weekday {
	padding-left: 5px;
	display: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #34C1FD;
}

.fc-calendar .fc-row > div.fc-out {
	opacity: 0.6;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row:last-child {
	border-bottom: none;
}
