/* Custom calendar elements */
body {

}

img {max-width:60%; height:auto; max-height:90%; border: 0px;}


}

.fitscale {font-size:54px; } /* comment this out for custom reveal to take over full screen */


.custom-calendar-wrap {
	margin: 10px auto;
	position: relative;
	overflow: hidden;

}

.custom-inner {
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);

}

.custom-inner:before,
.custom-inner:after  {

	content: '';
	width: 99%;
	height: 50%;
	position: absolute;
	background: #f6f6f6;
	bottom: -4px;
	left: 0.5%;
	z-index: -1;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.custom-inner:after {
	content: '';
	width: 98%;
	bottom: -7px;
	left: 1%;
	z-index: -2;

}

.custom-header {

	width: 220px;
	margin-left: 35%;
	margin-right: 35%;
	background: #fff;
	padding: 6px 0px 0px 0px;
	height: 60px;
	position: relative;
	border-top: 0px solid #fff; /*line border above title month an year with arrows either dise*/
	border-bottom: 0px dotted #0a2356;  /*line border below  title month an year with arrows either dise*/
}

.custom-header h2,
.custom-header h3 {
	text-align: center;
	text-transform: uppercase;
}

.custom-header h2 {
	color: #0a2356;
	font-weight: 700;
	font-size: 24px;
	margin-top: 10px;
}

.custom-header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #34C1FD;
}

.custom-header nav span {

	position: absolute;
	top: 17px;
	width: 30px;
	height: 30px;
	color: transparent;
	cursor: pointer;
	margin: 0 1px;
	font-size: 20px;
	line-height: 30px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.custom-header nav span:first-child {
	left: 0px;
	font-size: 1.5em;
	font-weight: bold;

}

.custom-header nav span:last-child {
	right: 0px;
	font-size: 1.5em;
	font-weight: bold;
}

.custom-header nav span:before {
	font-family: 'fontawesome-selected';
	color: #0a2356;
	position: absolute;
	text-align: center;
	width: 80%;

}

.custom-header nav span.custom-prev:before {
	content: '\25c2';

}

.custom-header nav span.custom-next:before {
	content: '\25b8';
}

.custom-header nav span:hover:before {
	color: #006;
}

/*MATHS STARTERS - CONTENT within sliding window*/

.custom-content-reveal {

	background: #0a2356;  /*#0a2356 colour change for background will be in white*/
	/*background: rgba(246, 246, 246, 0.9);*//*This was the light grey transparent background for content reveal*/
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 100;
	top: 100%;
	left: 0px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;

}



.custom-content-reveal span.custom-content-close {
	position: absolute;
	top: 25px;
	right: 25px;
	width: 20px;
	height: 20px;

	text-align: center;

	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	cursor: pointer;
	line-height: 18px;
	padding: 0;

	   font-size: 24px;
		font-weight: 600;
		display: block;


		background: #51C1F1;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
	
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 
}


.custom-content-reveal span.custom-content-close:after {
	content: 'x';
	font-size: 17px;
	color: #fff;
}

/*show answer button for Desktop*/
.custom-content-reveal span.custom-content-showanswer{
	position: absolute;
	/*width: 100%;*/
	top: 15px;
	left:25px;
	font-size: 18px;

    margin:0 7px 0 0;
   	font-size: 24px;
	font-weight: 800;
	display: block;

	margin: 10px 0;
	padding: 10px 20px;
	background: #51C1F1;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 12px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 


}

.custom-content-reveal span.custom-content-showanswer:after {
	/*content: 'Show Answer';*/

	font-size: 18px;
	color: #fff;
}


span.showAns:after{
	content: attr(data-content) 'Show Answer';
}

span.showAns:hover{ background-color:#000;}

span.hideAns:after{
	content: attr(data-content) 'Hide Answer';
}

span.hideAns:hover{ background-color:#000;}


.custom-content-reveal a,
.custom-content-reveal span {
	font-size: 28px;

	padding: 10px 30px;
	text-align: center; /*content centre and postioning*/
	display: block;
		cursor: pointer;
}



.custom-content-reveal h4 {

	text-transform: uppercase;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 3px;
	color: #fff;
	padding: 20px;
	background-color:#0a2356;
	/*border-bottom: 0px solid #ddd;
	border-top: 0px solid #34C1FD; this is the top line of content
	box-shadow: 0 1px rgba(255,255,255,0.9);
	margin-bottom: 30px;*/
		cursor: pointer;
}


.custom-content-reveal p {
	color: #000;
	padding: 10px 30px;
	font-size: 22px;

}


.custom-content-reveal a:hover {
	
}



		@media (max-width : 1824px) {

		    .custom-content-reveal a,
			.custom-content-reveal span {
				font-size: 44px;
				padding: 10px 30px;
				text-align: center; /*content centre and postioning*/
				display: block;
			}
			.questioncontainer {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer p {
				padding-top: 60px;
				font-size:  28px;

			}

			
			.questioncontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer2 p {
				padding-top: 60px;
				font-size:  24px;
				line-height:200%;

			}

			.questiontext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

			.answercontainer {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer  p {
				padding-top: 60px;
				font-size:  28px;
			}

			.answercontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer2  p {
				padding-top: 60px;
				font-size:  24px;
				line-height:200%;
			}

			.answertext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}


		}

		    /* Large Devices, Wide Screens */
    @media screen and (max-width : 1200px) {

		    .custom-content-reveal a,
			.custom-content-reveal span {
				font-size: 40px;
				padding: 10px 30px;
				text-align: center; /*content centre and postioning*/
				display: block;
			}
			.questioncontainer {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer p {
				padding-top: 60px;
				font-size:  24px;

			}

			
			.questioncontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer2 p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;

			}

			.questiontext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

			.answercontainer {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer  p {
				padding-top: 60px;
				font-size:  24px;
			}

			.answercontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer2  p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;
			}

			.answertext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}



		}

		  /* Medium Devices, Desktops */
    @media screen and (max-width : 992px) {

		    .custom-content-reveal a,
			.custom-content-reveal span {
				font-size: 40px;
				padding: 10px 30px;
				text-align: center; /*content centre and postioning*/
				display: block;
			}
			.questioncontainer {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer p {
				padding-top: 60px;
				font-size:  24px;

			}

			
			.questioncontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer2 p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;

			}

			.questiontext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

			.answercontainer {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer  p {
				padding-top: 60px;
				font-size:  24px;
			}

			.answercontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer2  p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;
			}

			.answertext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}


		 }

		  /* Small Devices, Tablets */
    @media screen and (max-width : 768px) {

			    .custom-content-reveal a,
			.custom-content-reveal span {
				font-size: 40px;
				padding: 10px 30px;
				text-align: center; /*content centre and postioning*/
				display: block;
			}
			.questioncontainer {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer p {
				padding-top: 60px;
				font-size:  24px;

			}

			
			.questioncontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer2 p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;

			}

			.questiontext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

			.answercontainer {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer  p {
				padding-top: 60px;
				font-size:  24px;
			}

			.answercontainer2 {
				height:400px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer2  p {
				padding-top: 60px;
				font-size:  22px;
				line-height:200%;
			}

			.answertext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

		}

		




/*.questioncontainer {
	height:400px;
	background-color: #fff;
	cursor: default;

}

.questioncontainer p {
	padding-top: 60px;
	font-size:  42px;

}

.questiontext p {
	height:150px;
	padding-left: 20px;
	text-align: left;
	background-color: #34C1FD;
	cursor: default;
}

.answercontainer {
	height:400px;
	background-color: #fff;
	cursor: default;
}

.answercontainer  p {
	padding-top: 60px;
	font-size:  22px;
}

.answertext p {
	height:150px;
	padding-left: 20px;
	text-align: left;
	background-color: #34C1FD;
	cursor: default;
}*/
.mshighlight {
	font-weight: bold;
	color: #E05114;
	white-space:nowrap;

}








/*END OF MATHS STARTERS - CONTENT within sliding window*/


/* Modifications */

.fc-calendar-container {
	height: 600px;
	width: auto;
	padding: 20px;
	background: #fff;
	box-shadow: inset 0 1px rgba(255,255,255,0.8);
}

.fc-calendar .fc-head {
	background: transparent;
	color: #fff; /* DAYS COLOUR*/
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
}

.fc-calendar .fc-row > div {
	background: #34C1FD; /*this too colour blank numbered cells*/
		/*border:  0.08em #0a2356 solid;
		margin: 0.05em;*/
	cursor: pointer;
}

.fc-calendar .fc-row > div:empty {
	background: #fff; /* this too colour blank empty cells*/

}


/*below calendar text */
.fc-calendar .fc-row > div > span.fc-date {
	top: 50%;
	left: 50%;
	text-align: center;
	margin: -10px 0 0 -15px;
	color: #fff;
	font-weight: 400;
	pointer-events: none;
}

.fc-calendar .fc-row > div.fc-today {
	background: #fff;
	border: 0.1em #34C1FD solid;

	/*box-shadow: inset 0 1px 1px rgba(0,0,0,0.1);*/
}


.fc-calendar .fc-row > div.fc-today > span.fc-date {
	color: #34C1FD;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.fc-calendar .fc-row > div.fc-content:after {
	/*content: '\00B7';*/
	text-align: center;
	width: 15px;
	margin-left: -10px;
	position: absolute;
	color: #DDD;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}


.no-touch .fc-calendar .fc-row > div:hover {
background: rgba(202,202,202,0.7);
/*magic*/
-webkit-transition:	all 0.2s ease-out;
-moz-transition:	all 0.2s ease-out;
-o-transition:	 all 0.2s ease-out;
transition:	 all 0.2s ease-out;
}



.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: #fff;
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: #00f;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: #fff;
}

.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
	display: none;
	font-size: 22px;
}


/*start - this provide visibility to only clickable events - not but not in right order*/
/*.fc-calendar .fc-row > div {
display: none;
}
.fc-calendar .fc-row > div.fc-content,
.fc-calendar .fc-row > div.fc-today {
display: block;
}
}*/
/*end - this provide visibility to only clickable events - not but not in right order*/

.answer{
	display: none;

}




@media screen and (max-width: 400px) {


	.fc-calendar-container {
		height: 400px;
	}
	.fc-calendar .fc-row > div > span.fc-date {
		font-size: 15px;
	}


/*this hides **LITTLE BOX in the CELL** for mobile devices*/

	.fc-calendar .fc-row > div.fc-content:after {
	/*content: '\00B7';*/
	text-align: center;
	width: 15px;
	margin-left: -10px;
	position: absolute;
	color: transparent;
	font-size: 70px;
	line-height: 20px;
	left: 50%;
	bottom: 3px;
}





.fc-calendar .fc-row > div.fc-today.fc-content:after {
	color: transparent; 
}

.fc-calendar .fc-row > div.fc-content:hover:after{
	color: transparent;
}

.fc-calendar .fc-row > div.fc-today.fc-content:hover:after{
	color: transparent;
}







/*show answer button for mobile devices*/

.custom-header {

	width: 160px;
	margin-left: 15%;
	margin-right: 35%;
	background: #fff;
	padding: 6px 0px 0px 0px;
	height: 60px;
	position: relative;
	border-top: 0px solid #fff; /*line border above title month an year with arrows either dise*/
	border-bottom: 0px dotted #0a2356;  /*line border below  title month an year with arrows either dise*/
}


.custom-header h2,
.custom-header h3 {
	text-align: center;
	text-transform: uppercase;
}

.custom-header h2 {
	color: #0a2356;
	font-weight: 700;
	font-size: 16px;
	margin-top: 10px;
}

.custom-header h3 {
	font-size: 10px;
	font-weight: 700;
	color: #34C1FD;
}



.custom-content-reveal span.custom-content-showanswer {
	position: absolute;
	top: 70px;
	
	width:70%;

    margin:0px 7px 0px 25px;

   font-size: 14px;
	font-weight: 800;
		display: block;
		margin:0px 5px 0px 20px;
		padding: 10px 20px;
		background: #51C1F1;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		text-align: center;
		font-size: 12px;
		color: #FFFFFF;
		-webkit-transition: all 0.5s linear;
		-moz-transition: all 0.5s linear;
		-o-transition: all 0.5s linear;
		transition: all 0.5s linear;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box; 

}

.custom-content-reveal span.custom-content-showanswer:after {
	/*content: 'Show Answer';*/

	font-size: 18px;
	color: #fff;
}


span.showAns:after{
	content: attr(data-content) 'Show Answer';
}

span.showAns:hover{ background-color:#000;}

span.hideAns:after{
	content: attr(data-content) 'Hide Answer';
}

span.hideAns:hover{ background-color:#000; }



			.question{
				margin-top: 40px;
			    font-family: 'Arial', Helvetica, sans-serif;
			    font-weight: bold;
			    font-size: 12px;
			    color: #333;
			    height: 200px;
			    cursor: pointer;
			}

			.questioncontainer {
				height:220px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer p {
				padding-top: 60px;
				font-size:  12px;

			}

			
			.questioncontainer2 {
				height:220px;
				background-color: #fff;
				cursor: default;

			}

			.questioncontainer2 p {
				padding-top: 60px;
				font-size:  12px;
				line-height:200%;

			}

			.questiontext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}

			.answercontainer {
				height:220px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer  p {
				padding-top: 60px;
				font-size:  12px;
			}

			.answercontainer2 {
				height:220px;
				background-color: #fff;
				cursor: default;
			}

			.answercontainer2  p {
				padding-top: 60px;
				font-size:  12px;
				line-height:100%;
			}

			.answertext p {
				height:150px;
				padding-left: 20px;
				text-align: left;
				background-color: #34C1FD;
				cursor: default;
			}



img { max-width:100%; height:auto; max-height:100%; border: 0px; }



/*BELOW - The important part of making the calendar grid fluid is the styling 
of the row and the div (or the “cell”):*/

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: -moz-calc(100%/6);
	height: -webkit-calc(100%/6);
	height: -ms-calc(100%/6);
	height: calc(100%/6);
}


/* I have altered the height and width below to achieve a consistency with browsers */

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 80%;
	width:  16.28%; /* 100% / 7 */
	width: -moz-calc(75%/7);
	width: -webkit-calc(75%/7);
	width: -ms-calc(75%/7);
	width: calc(75%/7);
	position: relative;
}

/*ABOVE - The important part of making the calendar grid fluid is the 
styling of the row and the div (or the “cell”):

	So, we define different heights depending on the amount of rows we’ll have, 
	using calc() where we know that the result is not a round number. 
	For the inner div we will set the width to be 100 divided by 7.

*/




}


	

