/* General Demo Style */


html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */

}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #fff;
    font-weight: 300;
    font-size:100%;
    color: #000;
    height: 100%;
}

.math {font-size:200%;}

h5{ font-family: 'Helvetica', Arial, sans-serif;  font-size: 10px;   font-weight: normal;  color: #fff;}

a {
	color: #006;
	text-decoration: none;
}
h5{ font-family: 'Helvetica', Arial, sans-serif;  font-size: 10px;   font-weight: normal;  color: #fff;}

.container {
	width: 100%;
	height: 100%;
	position: relative;

}



.header {width: 100%; background-color: #999; }

.headercon {padding: 0 30px 50px 30px; width: 100%; max-width: 1100px;margin: 0 auto;}
.footer {width: 100%; }
.footercon {padding: 0 30px 50px 30px; width: 100%; max-width: 1100px;margin: 0 auto;}

.container > 
.main {
	padding: 0 30px 50px 30px;
	width: 100%;	
	max-width: 1100px;
	/*min-width: 30%;*/
	margin: 0 auto;


}
.container > footer{

	padding: 10px;
	padding-bottom: 5px;
	background: #999 100%;
}

.container > header {

	padding: 10px;
	padding-bottom: 5px;
	background: #999 100%;
}

.container > header h1 {
	font-size: 22px;
	line-height: 38px;
	margin: 0;
	
	color: #fff;
	float: left;  
	text-shadow: 1px 1px 0px #999;
          font-weight: bold;

}



/* Header Style */
/*.codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	/*text-transform: uppercase;*/
	/*z-index: 9999;
	position: relative;*/
}
/*.
.codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #006;
	display: inline-block;

}*/

/*.codrops-top a:hover {
	color: #800;
}*/

/*.codrops-top span.right {
	float: right;
}

/*.codrops-top span.right a {
	float: left;
	display: block;
}*/

/* Demo Buttons Style */
/*.codrops-demos {
	float: left;
}

.codrops-demos a {
    display: inline-block;
    margin: 10px;
    color: #006;
    font-weight: 700;
    line-height: 30px;
    border-bottom: 4px solid transparent;
}

.codrops-demos a:hover {
	color: #FA7F0C;
	border-color: #FA7F0C;
}

