/* General Demo Style */


html { height: 100%; }

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */

}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


body {
    font-family: 'Helvetica', Arial, sans-serif;
    background-color: #fff;
    font-weight: 300;
    font-size:100%;
    color: #000;
    height: 100%;
}



h5{ font-family: 'Helvetica', Arial, sans-serif;  font-size: 10px;   font-weight: normal;  color: #fff;}

a {
	color: #006;
	text-decoration: none;
	
}
h5{ font-family: 'Helvetica', Arial, sans-serif;  font-size: 10px;   font-weight: normal;  color: #fff;}

.container {
	width: 100%;
	min-height: 100%;
	position: relative;

}



.header {width: 100%; background-color: #0a2356 ; }

.headercon {padding: 0px 30px 50px 30px; width: 100%; max-width: 1100px;margin: 0 auto;}


/*.footer {position:absolute; bottom:0; width: 100%; padding: 0px; }*/

#footer {position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;  background-color: #0a2356 ;
	clear:both;} 


.footercon {padding: 10px 30px 30px 30px; width: 100%; max-width: 1100px;margin: 0 auto;}

.container > 
.main {
	
	padding: 0 30px 50px 30px;
	width: 100%;	
	max-width: 1100px;
	/*min-width: 30%;*/
	margin: 0 auto;
	overflow:auto;

	padding-bottom: 150px;}  /* must be same height as the footer */



}
.container > footer{

	padding: 10px;
	padding-bottom: 5px;

	background: #0a2356 100%;
}

.container > header {

	padding: 10px;
	padding-bottom: 5px;
	background: #0a2356 100%;
}

.container > header h1 {
	font-size: 22px;
	line-height: 38px;
	margin: 0;
	
	color: #fff;
	float: left;  
	text-shadow: 1px 1px 0px #0a2356;
    font-weight: bold;

}




