

/*--------------------------------
 Functional Styles (Required)
---------------------------------*/


.menu > li { 
	list-style: none;
	float:left;	}





@media only screen and (max-width: 768px){
	/*-.menu { 
		display: none;
		 opacity: 0; 
		 width: 100%;
		 position: relative; 
		
		}*/


	.menu > li { 
		display: block;
		 width: 80px; margin: 0;
		  }

	.menu > li > a { 
		display: block; 
		width: 100%; 
		text-decoration: none; 
		-webkit-box-sizing:
		border-box; 
		-moz-box-sizing: 
		border-box; 
		box-sizing: 
		border-box; }

}



.header{
	/*min-height: 100px;
	height: 100%;*/

	padding: 0 20px;
	background: #FFFFFF;
}



.nav{ 
	display: block; 
	float: right; 

}




.menu > li > a{
	display: inline-block;
	list-style-type: none;
	padding: 10px 10px;
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	-webkit-transition: all 0.25s linear;
	-moz-transition: all 0.25s linear;
	-o-transition: all 0.25s linear;
	transition: all 0.25s linear;

}

.menu > li > a:hover, .menu > li > a:focus{
	background: #F2F2F2;
	box-shadow: inset 0px 5px #51C1F1;
	color: #51C1F1;
	padding: 10px 10px 10px;

				
}

			
}

@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 479px){




}